:root {
    --base-red: #231b31;
    --base-red-hover: #2b1f41;
    --darker-red: #2d243b;
    --dark-blue: #31234e;
    --dark-blue-hover: #251a3a;
    --dark-blue-active: #1e1530;
    --base-blue: #3e2c61;
    --body-background: #16121b;
}

.home-root, .error-root {
    color: white;
}

.side-bar {
    background-color: var(--base-red);
}

.footer {
    border-color: #3e2c61;
}