@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* #region Variables */
:root {
    --header-height: 7vh;
    --base-red: #E00043;
    --darker-red: #B40036;
    --dark-blue: #215880;
}
/* #endregion Variables */

/* #region Common Styling */

/* #region Titles and Item Specific */
.list-title {
    color: black;
    margin: 2vh 2vw -2vh 2vw;
}

.detail-label {
    cursor: pointer;
    width: 95%;
}

.item-detail {
    color: white;
    background-color: RGBA(0, 0, 0, 0.2);
    border-style: none;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 0 1vh 0;
    border-radius: 8px;
    transition: all 0.25s;
    font-family: "Rubik"
}

.item-detail[type="checkbox"] {
    align-self: flex-start;
    transform: scale(1.4, 1.4)
}

.item-detail[type="checkbox"]:hover {
    transform: scale(1.5, 1.5);
}

.item-detail > textarea {
    cursor: text;
    resize: vertical;
}

.item-detail:hover {
    cursor: pointer;
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.75);
}

.tooltip {
    cursor: pointer;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-5.8125vh) translateX(0vw);
    padding: 1vh;
    min-width: 8vw;
    border-radius: 8px;
    background: black;
    color: white;
    text-align: center;
    opacity: 0%;
    transition: opacity 0.5s;
}

.tooltip:hover:before, .tooltip:hover:after{
    opacity: 100%;
}

.tooltip:after{
    content: "";
    position: absolute;
    transform: translateY(-2.5vh);
    border:10px solid black;
    border-color: black transparent transparent transparent;
    opacity: 0%;
    transition: opacity 0.5s;
}

/* #endregion Titles and Item Specific */

/* #region Containers */

.root-container {
    margin: auto;
    width: 95%;
    height: 100%;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: grid;
    background-color: var(--base-red);
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    grid-gap: 0px;
    margin: 2vh 1.5vw 2vh 1.5vw;
    transition: all 0.3s;
}

.container:hover {
    transform: scale(1.025, 1.025);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: #F00048;
}

.full-container {
    flex-direction: column; 
    background-color: var(--base-red);
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    width: 80%;
    grid-gap: 0px;
    transition: all 0.3s;
    box-shadow: 0 0 20px 2px RGBA(0, 0, 0, 0.7);
    z-index: 999;
    transform: inherit;
}
/* #endregion Containers */

/* #region Buttons */
.close-full-btn {
    font-weight: bold;
    width: 2vw;
    height: 2vw;
    background-color: RGBA(0, 0, 0, 0.2);
    align-self: flex-end;
    border-radius: 8px;
    cursor: pointer;
}

.close-full-btn:hover {
    background-color: RGBA(0, 0, 0, 0.5);
}
/* #endregion Buttons */

/* #region Graph */
.bar-graph-container {
    display: grid;
    width: 25vw;
    padding: 1vh 1vw 1vh 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.bar-graph-slice {
    display: flex;
    font-size: 2vh;
    height: 4vh;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:RGBA(0, 0, 0, 0.75)
}
/* #endregion Graph */

/* #region Template */

body {
    margin: 0;
    height: 100%;
    color: white;
    font-family: 'Rubik';
    background-color: white;
    overflow-x: hidden;
}

button {
    border-style: none;
    padding: 0px;
    margin: 0px;
    color: white;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#loadLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: var(--base-red);
    transition: all 0.5s;
    z-index: 99999;
}

#loadLogoImg {
    opacity: 0%;
    height: 30%;
    transition: opacity, 2s;
}

.root-grid {
    display: inline-grid;
    grid-gap: 0;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    transition: width, 1s;
    grid-template-rows: auto 6vh;
    grid-template-columns: 0% auto;
    background-color: transparent;
    grid-template-areas: 
        'side-bar   main'
        'footer     footer';
}

.floating-bar {
    display: grid;
    grid-gap: 0;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: var(--header-height);
    grid-template-columns: 0% auto;
    grid-template-areas: 'side-bar-top   menu-bar';
    transition: all 1s;
    z-index: 9999;
}

.side-bar {
    background-color: #383B3C;
    grid-area: side-bar;
}

.side-bar-top {
    display: flex;
    background-color: #CC003D;
    grid-area: side-bar-top;
    
    flex-wrap: wrap;
    align-content: center;
}

#side-bar-title {
    margin-left: 2vh;
    font-size: 0vw;
    transition: all 0.75s;
}

.menu-bar { 
    display: inline-flex;
    height: var(--header-height);
    background-color: var(--base-red);
    grid-area: menu-bar;
    justify-content: space-between;
}

.main {
    background-color: transparent;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footer {
    display: flex;
    background-color: #1C1C1C;
    grid-area: footer;
    border-width: 0.5vh 0px 0px 0px;
    border-style: solid;
    border-color: var(--base-red);
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 2vh;
}

.user-btns {
    display: grid;
    grid-gap: 0px;
    height: var(--header-height);
    grid-template-columns: auto auto;
}

/* #region Decorative Objects */

/* #region Menu Bar Logo */
#logo-div {
    height: var(--header-height);
}

#logo {
    padding-top: 4vh;
    height: 6vh;
    border-radius: 0 0 8px 8px;
    background-color: var(--darker-red);
    border: solid 4px var(--darker-red);
    border-top-width: 0;
    transition: padding-top, 0.25s;
}

#logo:hover {
    padding-top: 8vh;
    cursor: pointer;
    border-top-width: 0;
}
/* #endregion  Menu Bar Logo */

/*#endregion Decorative Objects */

/* #region Interactive Objects */

/* #region Side Bar Button */
.side-bar-btn {
    height: var(--header-height);
    width: var(--header-height);
    background-color: var(--base-red);
    border-style: none;
    padding: 0px;
    margin: 0px;
}

.side-bar-btn:hover {
    background-color: var(--darker-red);
}

.side-bar-btn:active {
    background-color: #A30031
}

#login-btn {
    height: var(--header-height);
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

#login-btn-img {
    height: var(--header-height);
    border-radius: 0 0 8px 8px;
    background-color: transparent;
    transition: padding-top, 0.25s;
}

#login-btn-img:hover {
    padding-top: 4vh;
    background-color: var(--darker-red);
    cursor: pointer;
}

/* #endregion Side Bar Button */

/* #region Side Bar */
#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    width: inherit;
    background-color: RGBA(0, 0, 0, 0.3);
    padding: 2vh 0 2vh 1vw;
}

.nav-item:hover {
    background-color: RGBA(0, 0, 0, 0.45);
}

.nav-link {
    display: block;
    background-color: #2C2C2C;
    font-size: 1.5vw;
}

.nav-link:link {
    color: white;
    opacity: 0%;
    text-decoration: none;
    transition: all 0.75s;
    text-overflow: clip;
}

.nav-link:visited {
    color: white;
    text-decoration: none;
}
/*#endregion Side Bar */

/*#endregion Interactive Objects */

/*#endregion Template */

/* #region Form */
#form-window {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5vh auto 5vh auto;
    background-color: #2C82C1;
    padding: 0% 0% 2% 0%;
    border-radius: 16px;
}

#form-title {
    background-color: var(--dark-blue);
    width: 100%;
    height: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5%;
    border-radius: 16px 16px 0 0;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    justify-content: center;
    font-size: 3vh;
    font-weight: bold;
}

#submit-btn {
    width: 50%;
    height: 6vh;
    background-color: var(--dark-blue);
    border-style: none;
    border-radius: 16px;
    margin-top: 1vh;
    padding: 1vh;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    transition: all 0.5s;
}

#submit-btn:hover {
    background-color: #1B4969;
    width: 100%;
    cursor: pointer;
}

#submit-btn:active {
    background-color: #153851;
}

.form-input {
    background-color: var(--dark-blue);
    border-style: none;
    border-radius: 16px;
    width: 50%;
    height: 4vh;
    margin: 1vh 0 1vh 0;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    transition: all 0.5s;
}

.form-input:hover, .form-input-dropdown:hover {
    background-color: #153851;
    width: 70%;
}

.form-input:focus, .form-input-dropdown:focus {
    background-color: #1B4969;
    width: 100%;
}

.form-input-dropdown {
    background-color: var(--dark-blue);
    border-style: none;
    border-radius: 16px;
    width: 50%;
    height: 8vh;
    margin: 1vh 0 1vh 0;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    transition: all 0.5s;
}

#form-error {
    width: 90%;
    margin: auto;
    padding: 1%;
}

.dropdown-option {
    background-color: var(--base-red);
    color: white;
    font-size: 3vh;
    border-radius: 8px;
}

.dropdown-option:hover {
    background-color: var(--darker-red);
}

.dropdown-option:focus {
    background-color: var(--darker-red);
}

.dropdown-option:active {
    background-color: var(--darker-red);
}

.dropdown-option:focus-visible {
    background-color: var(--darker-red);
}

.dropdown-option:focus-within {
    background-color: var(--darker-red);
}

/* #endregion Form */

/* #endregion Common Styling */

/* #region Page Specific */

/* #region Patient List */

.patient-black-out {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-direction: column;
    overflow: scroll;
    align-content: center;
    justify-content: center;
    background-color: RGBA(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 9999;
    transition: all 0.1s;
}

.patient-full-container {
    display: flex;
    margin: 1.5vh auto 1.5vh auto;
}

.save-diagnosis-btn {
    color: white;
    background-color: RGBA(0, 0, 0, 0.2);
    border-style: none;
    border-radius: 8px;
    width: 10%;
    height: 4vh;
    align-self: flex-end;
    font-size: 2.25vh;
    cursor: pointer;
    transition: all 0.5s;
}

.save-diagnosis-btn:hover {
    width: 25%;
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.75);
}
/* #endregion Patient List */

/* #region Prescription List */

.prescriptions-list {
    width: inherit;
    background-color: RGBA(0, 0, 0, 0.2);
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.prescription-full-list {
    list-style-type: none;
    width: 70vw;
    margin: 0;
}

.case {
    width: 100%;
    height: 6vh;
    background-color: white;
    color: black;
    margin: 2%;
    border-radius: 4px;
    padding: 4%;
    transition: all 0.25s;
}

.case:hover {
    transform: scale(1.01, 1.01);
    cursor: pointer;
    box-shadow: 0 0 10px RGBA(0, 0, 0, 0.75);
}

.case-full-container {
    margin: 3vh auto 2vh auto;
}

.prescription-full-header {
    flex-direction: column; 
    background-color: var(--base-red);
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    width: 80%;
    grid-gap: 0px;
    margin: 3vh auto 2vh auto;
    transition: all 0.3s;
    box-shadow: 0 0 20px 2px #000000;
    z-index: 999;
    transform: inherit;
}

.add-medicine {
    background-color: white;
    color: black;
    margin: 0.5%;
    border-radius: 4px;
    padding: 1%;
    transition: all 0.25s;
}

.add-medicine:hover {
    transform: scale(1.025, 1.025);
    box-shadow: 0 0 10px RGBA(0, 0, 0, 0.75);
}
/* #endregion Prescription List */

/* #region Error */
.error-root {
    color: black;
    margin: auto;
    text-align: center;
}
/* #endregion Error */

/* #region Pharmacy */

.stock-price {
    background-color: RGBA(0, 0, 0, 0);
    border-style: none;
    margin: 0;
    color: white;
    border-radius: 8px;
    transition: all 0.25s;
}

#add-to-cart, #edit {
    cursor: pointer;
}

#cart-btn, #remove-stock-btn, #proceed-checkout-btn, #bill-archive-btn {
    background-color: var(--base-red);
    cursor: pointer;
}

/* #region Pharmacy Cart Bill */

.bill-table {
    width: 90%;
    border: none;
    border-collapse: collapse;
    margin: auto;
}

.bill-header, .bill-item, .bill-item-grandtotal {
    color: black;
    border: 3px solid black;
    border-top: none;
    padding: 2vh;
}

.bill-item {
    border-bottom: none;
}

.bill-item-grandtotal {
    border-bottom: none;
    border-top: 3px solid #6C6C6C;
}
/* #endregion Pharmacy Cart Bill */
/* #endregion Pharmacy */

/* #region Attendance Start */
.attendance-table {
    margin: 5vh auto 2vh auto;
    color: white;
    width: 90%;
    border-collapse: collapse;
    font-size: 4vh;
    border-radius: 8px;
    background-color: #2C82C1;
}

.attendance-table th {
    padding: 1vh 1vw 1vh 1vw;
}

.attendance-table td {
    color: black;
    padding: 1vh 1vw 1vh 1vw;
}

.checkbox-container {
    cursor: pointer;
    height: 100%;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.attendance-custom-checkbox {
    display: block;
    margin: 1vh auto 1vh auto;
    height: 14vh;
    width: 40%;
    background-color: RGBA(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all, 0.25s;

}

.attendance-custom-checkbox:hover {
    transform: scale(1.2, 1.2);
    background-color: RGBA(0, 0, 0, 0.5);
    box-shadow: 0 0 10px RGBA(0, 0, 0, 0.5);
}

.attendance-custom-checkbox.true {
    background: #3DC12C;
}

.attendance-custom-checkbox.true:hover {
    background: #218025;
}

/* #endregion Attendance */

/* #region Home */

.home-root {
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    height: 100%;
}

/* #endregion Home */

/* #region Accounts */

.accounts-table-heading {
    height: 7vh;
    background-color: #2C82C1;
}

.accounts-table-entry {
    padding: 1vh;
    /* background-color: #215880; */
}

.accounts-table-entry-row {
    background-color: #215880;
    border: 3px solid #194463;
    border-width: 3px 0 0 0;
    height: 7vh
}

.accounts-input {
    width: 90%;
    height: 5vh;
    border-radius: 8px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-family: 'Rubik';
    font-size: 2vh;
    text-align: center;
}

.income {
    background-color: #41D281;
    border-color: #33a866;
}

.expense {
    background-color: var(--base-red);
    border-color: var(--darker-red);
}

.entries-button {
    background: white;
    color: black;
    border-radius:  8px;
    padding: 1vh 1vw 1vh 1vw;
    height: 6vh;
    width: 7vw;
    margin: 0.5vh 0 0.5vh 0;
    transition: all 0.2s;
    font-size: 100%;
}

.entries-button:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

/* #endregion Accounts */

/* #endregion Page Specific */