@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*Variables Start*/
:root {
    --header-height: 7vh;
}
/*Variables End*/

body {
    margin: 0;
    height: 100%;
    color: white;
    font-family: 'Rubik';
    background-color: #E3E3E3;
}

button {
    border-style: none;
    padding: 0px;
    margin: 0px;
    color: white;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/*Template Start*/
#loadLogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #E00043;
    transition: all, 0.5s;
    z-index: 999;
}

#loadLogoImg {
    opacity: 0%;
    height: 30%;
    transition: opacity, 2s;
}

.root-grid {
    display: inline-grid;
    grid-gap: 0;
    height: 93vh;
    width: 100vw;
    transition: width, 1s;
    grid-template-rows: auto 6%;
    grid-template-columns: 0% auto;
    background-color: transparent;
    grid-template-areas: 
        'side-bar   main'
        'footer     footer';
}

.floating-bar {
    display: grid;
    grid-gap: 0;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: var(--header-height);
    grid-template-columns: 0% auto;
    grid-template-areas: 'side-bar-top   menu-bar';
    transition: all 1s;
}

.side-bar {
    background-color: #383B3C;
    grid-area: side-bar;
}

.side-bar-top {
    display: flex;
    background-color: #CC003D;
    grid-area: side-bar-top;
    
    flex-wrap: wrap;
    align-content: center;
}

#side-bar-title {
    margin-left: 2vh;
    font-size: 0vw;
    transition: all 0.75s;
}

.menu-bar { 
    display: inline-flex;
    height: var(--header-height);
    background-color: #E00043;
    grid-area: menu-bar;
}

.main {
    background-color: #E3E3E3;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.footer {
    display: flex;
    background-color: #1C1C1C;
    grid-area: footer;
    border-width: 0.5vh 0px 0px 0px;
    border-style: solid;
    border-color: #E00043;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 2vh;
}

.user-btns {
    display: grid;
    grid-gap: 0px;
    grid-area: user-buttons;
    height: var(--header-height);
    margin-left: 10%;
}

/*Decorative Objects*/

/*Menu Bar Logo*/
#logo-div {
    width: 100%;
}

#logo {
    grid-area: logo;
    height: 90.5%;
    padding: 0;
    margin: 0;
    border-radius: 0 0 8px 8px;
    transition: padding-top, 0.25s;
}

#logo:hover {
    padding-top: 4vh;
    background-color: #B40036;
    cursor: pointer;
}

/*Interactive Objects*/

/*Side Bar Button*/
.side-bar-btn {
    display: flex;
    height: var(--header-height);
    width: var(--header-height);
    background-color: #E00043;
    border-style: none;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    grid-area: nav-btn;
}

.side-bar-btn:hover {
    background-color: #B40036;
}

.side-bar-btn:active {
    background-color: #A30031
}

#login-btn {
    font-size: 100%;
    height: var(--header-height);
    background-color: transparent;
    right: 100px;
}

#login-btn-img {
    font-size: 100%;
    border-radius: 0 0 8px 8px;
    background-color: transparent;
    right: 100px;
    transition: padding-top, 0.25s;
}

#login-btn-img:hover {
    padding-top: 4vh;
    background-color: #B40036;
    cursor: pointer;
}

/*Side Bar*/
#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    width: inherit;
    background-color: RGBA(0, 0, 0, 0.3);
    padding: 2vh 0 2vh 1vw;
}

.nav-item:hover {
    background-color: RGBA(0, 0, 0, 0.45);
}

.nav-link {
    display: block;
    background-color: #2C2C2C;
    font-size: 1.5vw;
}

.nav-link:link {
    color: white;
    opacity: 0%;
    text-decoration: none;
    transition: all, 0.75s;
    text-overflow: clip;
}

.nav-link:visited {
    color: white;
    text-decoration: none;
}
/*Template End*/

/*Login Start*/
#login-window {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    background-color: #2C82C1;
    padding: 0% 0% 2% 0%;
    border-radius: 16px;
}

#login-title {
    background-color: #215880;
    width: 100%;
    height: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5%;
    border-radius: 16px 16px 0 0;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    justify-content: center;
    font-size: 3vh;
    font-weight: bold;
}

#login-submit-btn {
    width: 50%;
    height: 6vh;
    background-color: #215880;
    border-style: none;
    border-radius: 16px;
    margin-top: 1vh;
    padding: 1vh;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    transition: all, 0.5s;
}

#login-submit-btn:hover {
    background-color: #1B4969;
    width: 100%;
    cursor: pointer;
}

#login-submit-btn:active {
    background-color: #153851;
}

.login-input {
    background-color: #215880;
    border-style: none;
    border-radius: 16px;
    width: 50%;
    height: 4vh;
    margin: 1vh 0 1vh 0;
    padding: 1vh 1vw 1vh 1vw;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    transition: all, 0.5s;
}

.login-input:hover {
    background-color: #153851;
    width: 70%;
}

.login-input:focus {
    background-color: #1B4969;
    width: 100%;
}
/*Login End*/

/*Patient List Start*/
.patient-container-root {
    margin: auto;
    width: 95%;
    height: 100%;
}

#patient-list-title {
    color: black;
    margin: 2vh 2vw -2vh 2vw;
}

.patient-list-container {
    display: flex;
    flex-wrap: wrap;
}

.patient-container {
    display: grid;
    background-color: #E00043;
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    grid-gap: 0px;
    margin: 2vh 1.5vw 2vh 1.5vw;
    cursor: pointer;
    transition: all, 0.3s;
}

.patient-container:hover {
    transform: scale(1.025, 1.025);
    box-shadow: 0 0 20px #888888;
    background-color: #F00048;
}

.patient-detail-label {
    cursor: pointer;
    width: 95%;
}

.patient-detail {
    background-color: RGBA(0, 0, 0, 0.2);
    border-style: none;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 0 1vh 0;
    color: white;
    font-family: 'Rubik';
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    transition: all, 0.25s;
}

.patient-detail:hover {
    cursor: pointer;
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.75);
}

.patient-black-out {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: scroll;
    background-color: RGBA(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 999;
    transition: all, 0.1;
}

.patient-full-container {
    display: flex;
    flex-direction: column; 
    background-color: #E00043;
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    width: 80%;
    grid-gap: 0px;
    margin: 1.5vw 1.5vw;
    transition: all, 0.3s;
    box-shadow: 0 0 50px 2px #000000;
    z-index: 999;
    transform: inherit;
}

.close-patient-full-btn {
    width: 2vw;
    background-color: RGBA(0, 0, 0, 0.2);
    height: 2vw;
    align-self: flex-end;
    border-radius: 8px;
    cursor: pointer;
}

.close-patient-full-btn:hover {
    
}

.save-diagnosis-btn {
    color: white;
    background-color: RGBA(0, 0, 0, 0.2);
    border-style: none;
    border-radius: 8px;
    width: 10%;
    height: 4vh;
    align-self: flex-end;
    font-size: 2.25vh;
    cursor: pointer;
    transition: all, 0.5s;
}

.save-diagnosis-btn:hover {
    width: 25%;
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.75);
}
/*Patient List End*/

/*Prescription List Start*/
.prescription-container-root {
    margin: auto;
    width: 95%;
    height: 100%;
}

#prescription-list-title {
    color: black;
    margin: 2vh 2vw -2vh 2vw;
}

.prescription-list-container {
    display: flex;
    flex-wrap: wrap;
}

.prescription-container {
    display: grid;
    background-color: #E00043;
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    grid-gap: 0px;
    margin: 2vh 1.5vw 2vh 1.5vw;
    cursor: pointer;
    transition: all, 0.3s;
}

.prescription-container:hover {
    transform: scale(1.025, 1.025);
    box-shadow: 0 0 20px #888888;
    background-color: #F00048;
}

.prescription-patient-label {
    cursor: pointer;
    width: 95%;
}

.prescription-detail {
    background-color: RGBA(0, 0, 0, 0.2);
    border-style: none;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 0 1vh 0;
    color: white;
    font-family: 'Rubik';
    border-radius: 8px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    transition: all, 0.25s;
}

.prescription-detail:hover {
    cursor: default;
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.75);
}

.prescriptions-list {
    width: inherit;
    height: 12.5vh;
    background-color: RGBA(0, 0, 0, 0.2);
    padding: 2%;
    display: flex;
    border-radius: 8px;
}

.prescription {
    width: 50%;
    background-color: #FFFFFF;
    color: black;
    margin: 2%;
    border-radius: 4px;
    padding: 4%;
    transition: all 0.25s;
}

.prescription:hover {
    transform: scale(1.25, 1.25);
    box-shadow: 0 0 10px RGBA(0, 0, 0, 0.75);
}
/*Prescription List end*/