/*Variables*/
:root {
    --header-height: 7vh;
}


html, body {
    margin: 0;
    height: 100%;
    color: white;
    font-family: sans-serif
}

button {
    border-style: none;
    padding: 0px;
    margin: 0px;
    color: white;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

/*Template*/
.root-grid {
    display: inline-grid;
    grid-gap: 0;
    height: 100vh;
    width: 100vw;
    transition: all 1s;
    grid-template-rows: auto 6%;
    grid-template-columns: 0% auto;
    background-color: transparent;
    grid-template-areas: 
        'side-bar   main'
        'footer     footer'
}

.floating-bar {
    display: grid;
    grid-gap: 0;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: var(--header-height);
    grid-template-columns: 0% auto;
    grid-template-areas: 'side-bar-top   menu-bar';
    transition: all 1s;
}

.side-bar {
    background-color: #215880;
    grid-area: side-bar;
}

.side-bar-top {
    display: flex;
    background-color: #2C82C1;
    grid-area: side-bar-top;
    
    flex-wrap: wrap;
    align-content: center;
}

#side-bar-title {
    margin-left: 2vh;
    font-size: 0vw;
    transition: all 0.75s;
}

.menu-bar { 
    display: grid;
    grid-gap: 0px;
    height: var(--header-height);
    background-color: #E00043;
    grid-area: menu-bar;
    grid-template-columns: 4.25% auto 4.25%;
    grid-template-areas: 'nav-btn logo user-buttons'
}

.main {
    background-color: #F7F7F7;
    grid-area: main;
}

.footer {
    display: flex;
    background-color: #1C1C1C;
    grid-area: footer;
    border-width: 0.5vh 0px 0px 0px;
    border-style: solid;
    border-color: #E00043;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 2vh;
}

.user-btns {
    display: grid;
    grid-gap: 0px;
    grid-area: user-buttons;
    height: var(--header-height);
}

/*Decorative Objects*/

/*Menu Bar Logo*/
#logo {
    grid-area: logo;
    height: 90.5%;
    padding: 0;
    margin: 0;
    border-radius: 0 0 8px 8px;
    transition: padding-top, 0.25s;
}

#logo:hover {
    padding-top: 4vh;
    background-color: #B40036;
}

/*Interactive Objects*/

/*Side Bar Button*/
.side-bar-btn {
    display: flex;
    height: var(--header-height);
    width: var(--header-height);
    background-color: #E00043;
    border-style: none;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    grid-area: nav-btn;
}

.side-bar-btn:hover {
    background-color: #B40036;
}

.side-bar-btn:active {
    background-color: #A30031
}

#login-btn {
    font-size: 100%;
    height: var(--header-height);
    background-color: transparent;
    right: 100px;
}

#login-btn-img {
    font-size: 100%;
    border-radius: 0 0 8px 8px;
    background-color: transparent;
    right: 100px;
    transition: padding-top, 0.25s;
}

#login-btn-img:hover {
    padding-top: 4vh;
    background-color: #B40036;
}