{% extends  'template.html' %}
{% block body %}
<div class="root-container">
    <div class="list-container">
        <div class="container" style="font-size: 2.5vh;">
            <span>
                <b>Expenses</b><br>
                <span style="font-size: 4vh;">&#8377;<label id="expense-label"></label></span>
            </span>
            <div class="item-detail" style="font-size: 0;">
                <div id="expenses" class="bar-graph-container">
                    <span id="slice-1" class="bar-graph-slice">20%</span>
                    <span id="slice-2" class="bar-graph-slice">30%</span>
                    <span id="slice-3" class="bar-graph-slice">10%</span>
                    <span id="slice-4" class="bar-graph-slice">20%</span>
                    <span id="slice-5" class="bar-graph-slice">20%</span>
                </div>
            </div> 
        </div>
        <div class="container" style="font-size: 2.5vh;">
            <span>
                <b>Profit and Loss</b><br>
                <span style="font-size: 4vh;">&#8377;<label id="profit-label"></label></span>
            </span>
        </div>
    </div>
</div>
{%endblock%}

{% block script %}
<script>
function getRandomColor() {
    var letters = '0123456789ABCDEF';
    var color = '#';
    for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

$(document).ready(function (){
    var expenses = [2000, 3000, 1000, 2000, 2000];
    var colours = ["#5FBFF9", "#3B3B58", "#478978", "#F9DB6D", "#88B7B5"]
    var barSliceWidth = "";
    var totalExpense = 0;

    for (var expense in expenses) {
        totalExpense += expenses[expense];
    }

    for(var slicePercent in expenses) {
        var sliceWidth = (expenses[slicePercent]/totalExpense)*100;
        barSliceWidth += sliceWidth + "% "
    }

    var barGraph = $("#expenses");
    barGraph.css('gridTemplateColumns', barSliceWidth);

    barGraph.children().first().css('borderRadius', "8px 0 0 8px");
    barGraph.children().last().css('borderRadius', "0 8px 8px 0");

    var i = 0;

    barGraph.children().each(function (index, element) {

        $(element).css({
            'backgroundColor': colours[i]
        });

        if (i == colours.length ) {
            i = 0;
        } else {
            i++;
        }

    });


});
</script>
{%endblock%}