.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 6;
    display: grid;
    place-items: center;
}

.modal-content {
    background-color: #383B3C;
    padding: 1em;
    width: clamp(90%, 1em, 100%);
}