{%extends "template.html"%}

{%block body%}
<div class="error-root">
    <h1>ERROR 404</h1>
    <h1>¯\_(ツ)_/¯</h1>
    <h2>Page Not Found</h2>
    <label>Sorry, but this page doesn't exist</label>
</div>
{%endblock%}

{%block nav %}
<ul id="nav-list">
    <a class="nav-link" href="/staff"><li class="nav-item">Home</li></a>
    <a class="nav-link" href="/doctor"><li class="nav-item">Doctor's Dashboard</li></a>
    <a class="nav-link" href="/doctor/prescriptions"><li class="nav-item">Authorised Prescriptions</li></a>
</ul>
{%endblock%}