<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <title>Med-Bay</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        
<!--        scripts-->
        <script type="text/javascript" src="{% static 'template.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script>
            function checkUser(user) {
                if (user === 'd' || user === 'a' || user === 'p') {
                    document.location = "{% url 'confirm-logout' %}";
                } else {
                    document.location = "{% url 'login' %}";
                }
            }
        </script>
        {%block script%}
        
        {%endblock%}
<!--        scripts-->
    </head>

    <body onload="showLogo()">
        <div id="loadLogo"><img id="loadLogoImg" src="{%static 'images/med-bay.png'%}"></div>
        <div class="floating-bar" id="floating-bar">
            <div class="menu-bar">
                <button class="side-bar-btn" value="click" onclick="closeSidebar()">
                    <img class="side-bar-btn-icon" src="{% static 'images/menu.svg' %}" margin="0" height="100%"/>
                </button>
                <div id="logo-div">
                    <img id="logo" onclick="document.location='/staff/redirect'" src="{% static 'images/med-bay.png' %}">
                </div>
                <div class="user-btns">
                    <button id="login-btn">
                        {% if not request.user.is_authenticated %}
                        <img id="login-btn-img" onclick="checkUser('{{user.staff.role}}')" title="{{user}}" src="{% static 'images/user.png' %}" height="40vh">
                        {% else %}
                        <img id="login-btn-img" onclick="checkUser('{{user.staff.role}}')" title="{{user}}" src="{% static 'images/user_loggedin.png' %}" height="40vh">
                        {%endif%}
                    </button>
                </div>
            </div>
            <div class="side-bar-top">
                <label id="side-bar-title">Navigation</label>
            </div>
        </div>
        <div class="root-grid" id="root-grid">
            <div class="side-bar">
                <ul id="nav-list">
                    <a class="nav-link" href="/staff"><li class="nav-item">Home</li></a>
                    {% if user.staff.role == "d" %}
                    <a class="nav-link" href="/doctor"><li class="nav-item">Doctor's Dashboard</li></a>
                    <a class="nav-link" href="/doctor/prescriptions"><li class="nav-item">Authorised Prescriptions</li></a>
                    <a class="nav-link" href="/doctor/prescription"><li class="nav-item">Recover Unsaved Prescriptions</li></a>
                    {% elif user.staff.role == "p" %}
                    <a class="nav-link" href="/pharmacy"><li class="nav-item">Pharmacy</li></a>
                    {%endif%}
                </ul>
            </div>
            <div class="main">
                {%block body%}

                {%endblock%}
            </div>
            <div class="footer">
                <label>Med-Bay &copy; 2020</label>
            </div>
        </div>
    </body>
</html>