{%extends "template.html"%}

{%block body%}
<table style="color: black; margin: 3vh 2vw 3vh 2vw">
    <tr>
        <td><b>Buyer Name:</b></td>

        <td>{{bill.name}}</td>
    </tr>

    <tr>
        <td><b>Buyer Phone:</b></td>

        <td>{{bill.contact_num}}</td>
    </tr>

    <tr>
        <td><b>Billing Date:</b></td>

        <td>{{bill.date}}</td>
    </tr>
</table>

<table class="bill-table">
    <tr>
        <th class="bill-header">S.No.</th>
        <th class="bill-header">Item Name</th>
        <th class="bill-header">Quantity</th>
        <th class="bill-header">Item Price</th>
        <th class="bill-header">Total Price</th>
    </tr>
    
    {% for unit in bill_unit %}
        <tr>
            <td class="bill-item">{{forloop.counter}}.</td>
            <td class="bill-item">{{unit.name}}</td>
            <td class="bill-item">{{unit.quantity}}</td>
            <td class="bill-item">&#8377;{{unit.price}}</td>
            <td class="bill-item">&#8377;{%widthratio unit.price 1 unit.quantity%}</td>
        </tr>
    {%endfor%}
    
    <tr>
        <td class="bill-item-grandtotal">-</td>
        <td class="bill-item-grandtotal">Grand Total</td>
        <td class="bill-item-grandtotal">-</td>
        <td class="bill-item-grandtotal">-</td>
        <td class="bill-item-grandtotal">&#8377;{{total}}</td>
    </tr>
</table>
{%endblock%}
