{%extends "template.html" %}

{%block body%}
<div class="shop-container-root">
    <h3 id="shop-list-title">Items In Cart</h3><br>
    <div class="shop-list-container">
        {% for order in cart %}
        <div id="{{order.id}}" class="stock-item-container">
            <label class="stock-detail-label">Item: </label>
            <input class="stock-detail" id="{{order.item.id}}_name" type="text" value="{{order.item.name}}" readonly><br>
            <label class="stock-detail-label">Amount:</label>
            <input class="stock-detail" id="{{order.item.id}}_amount" type="number" value="{{order.quantity}}" readonly>
            <label class="stock-detail-label">Total: </label>
            <span class="stock-detail" tabindex="0"><span class="stock-price">&#8377;</span> <input tabindex="-1" class="stock-price" id="age" type="text" value="{% widthratio order.quantity 1 order.item.price %}" pattern="[0-9]+" readonly>
            </span><br>
            <span>
                <br>
                <input class="stock-detail" id="remove-from-cart" onclick="removefromCart({{order.id}}" type="button" value="Remove All">
                <input class="stock-detail" id="remove-from-cart" onclick="removefromCart({{order.id}} 1)" type="button" value="-">
                <input class="stock-detail" id="remove-from-cart" onclick="plusone({{order.id}})" type="button" value="+">
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}

{%block script%}
<script>
function removefromCart(id, amount) {
    console.log(id);
    
    var name = $('#'+id+'_name').val();
    
    console.log(name);
    
    $.ajax({
        url : '/pharmacy',
        data : {
            'order_id' : id,
            'remove_amount' : amount
        },
        type : 'GET',
        success : function(response) {
            alert("Removed " + amount + " Of " + name + " From Cart");
        },
        error : function(error) {
            alert("Error: Unable To Remove Cart");
        }
    });
}
</script>

<script>
function plusone(id) {
    console.log("item id: " + id);
    var name = $('#' + id + '_name').val();
    var amount =$('#' + id + '_amount').val();
    amount += 1;
    
    $.ajax({
        url : '/pharmacy',
        data : {
            'product_id' : id
        },
        type : 'GET',
        success : function(response) {
            alert("Added 1 Of " + name + " To Cart");
        },
        error : function(error) {
            alert("Error: Unable To Add To Cart");
        }
    });
}
</script>
{%endblock%}
