{%extends "template.html"%}

{%block body%}
<div class="root-container">
        <h3 class="list-title">Prescription Orders</h3><br>
    <div class="list-container">
        {% for prescription in prescriptions %}
        <div id="{{prescription.id}}" class="container" style="width: 20vw;">
            <label class="item-detail-label">Prescription ID: {{prescription.id}}</label><br>
            <label class="item-detail-label">Patient:</label>
            <input class="item-detail" id="{{prescription.id}}_patient" type="text" value="{{prescription.case.patient.name}}" readonly><br>
            <label class="item-detail-label">Authorising Doctor:</label>
            <input class="item-detail" id="{{prescription.id}}_doctor" type="text" value="{{prescription.case.doctor.user.user.username}}" readonly><br>
            <label class="item-detail-label">Case No.:</label>
            <input class="item-detail" id="{{prescription.id}}_case" type="text" value="{{prescription.case.id}}" readonly><br>
            <label class="item-detail-label">Medicines Prescribed:</label>
            <span class="item-detail" style="overflow: scroll; height: 8vh">
                {% for medicine in prescription.medicine_set.all %}
                <input class="item-detail" id="{{prescription.id}}_{{medicine.item.name}}" type="text" value="{{medicine.item.name}} x {{medicine.quantity}}" style="background-color: white; color: black" readonly>
                {% endfor %}
            </span>
            <button class="item-detail" onclick="checkout({{prescription.id}})">Checkout Prescription</button>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}

{%block script%}
<script>
    function checkout(prescriptionId) {
        $.ajax({
            url: "{% url 'pharma:order_prescription' %}",
            data: {
                'id': prescriptionId
            },
            success: function(response) {
                console.log(response);
                location="{% url 'pharma:bill_archive_viewer' %}?id="+response['id'];
            },
            statusCode: {
                418: function(response) {
                    console.log(response['responseJSON']);
                    var medicines = response['responseJSON'];
                    for (var medicine in medicines) {
                        showMessage(medicines[medicine] + " Is Out Of Stock");
                    }
                    location="{% url 'pharma:edit_prescription'%}?id="+prescriptionId+"&medicines="+JSON.stringify(medicines);
                }
            }
        });
    }
</script>
{%endblock%}
