{%extends "template.html" %}
{%load static%}

{%block body%}
<div class="root-container">
    <span style="display: flex; align-content: space-between; align-items: flex-start">
        <h3 class="list-title">Remove Items In Stock</h3>
        <button class="item-detail default-button" id="remove-stock-btn" onclick="document.location='{% url 'pharma:shop' %}'">Back to Pharmacy</button>
    </span>
    <div class="list-container">
        {% if items %}
        {%for item in items%}
        <div id="{{item.id}}" class="container" style="width: 20vw;">
            <span style="display: flex; flex-direction: row; justify-content: flex-end; align-content: center">
                <button class="item-detail" onclick="removeStock({{item.id}})">X</button>
            </span>
            <label class="item-detail-label">Item: </label>
            <input class="item-detail" id="{{item.id}}_name" type="text" value="{{item.name}}" readonly><br>
            <label class="item-detail-label">Price: </label>
            <span class="item-detail" tabindex="0"><span class="stock-price">&#8377;</span> <input tabindex="-1" class="stock-price" id="age" type="text" value="{{item.price}}" pattern="[0-9]+" readonly></span><br>
            <label class="item-detail-label">Quantity:</label>
            <label>{{item.quantity}}</label><br>
        </div>
        {%endfor%}
        {% else %}
        <div class="container">
            <label class="item-detail-label">No Items In Stock</label>
        </div>
        {% endif %}
    </div>
</div>
{%endblock%}


{%block script%}
<script>
    function removeStock(id) {
      console.log("item id: " + id);
        var name = $('#' + id + '_name').val();
        
        if (confirm("Removing " + name + " From Stock")) {
        
            $.ajax({
                url : "{% url 'pharma:remove_stock' %}",
                data : {
                    'product_id' : id
                  },
                type : 'GET',
                success : function() {
                    showMessage("Removed " + name + " From Stock");
                    location.reload();
                },
                error : function(error) {
                    showMessage("Error " + error + " : Unable To Remove From Stock");
                    location.reload();
                }
            });
        }
    }
</script>
{%endblock%}
