{%extends "template.html" %}
{%load static%}

{%block body%}
<div class="shop-container-root">
    <span style="display: flex; align-content: space-between; align-items: flex-start">
        <h3 id="shop-list-title">Items In Stock</h3>
        <button class="stock-detail" id="cart-btn" onclick="document.location={% url 'pharma: cart' %}">Cart</button><pre>  </pre>
        <button class="stock-detail" id="remove-stock-btn" onclick="document.location={% url 'pharma: remove_stock'%}">Remove Stocks</button>
    </span>
    <div class="shop-list-container">
        {%for item in items%}
        <div id="{{item.id}}" class="stock-item-container">
            <label class="stock-detail-label">Item: </label>
            <input class="stock-detail" id="{{item.id}}_name" type="text" value="{{item.name}}" readonly><br>
            <label class="stock-detail-label">Price: </label>
            <span class="stock-detail" tabindex="0"><span class="stock-price">&#8377;</span> <input tabindex="-1" class="stock-price" id="age" type="text" value="{{item.price}}" pattern="[0-9]+" readonly></span><br>
                <label class="stock-detail-label">Amount:</label>
            <span>
                <input class="stock-detail" id="{{item.id}}_amount" type="number" min="1" max="{{item.quantity}}" step="1" value="1">
                <label>/{{item.quantity}}</label><br>
                <input class="stock-detail" id="add-to-cart" onclick="addtocart({{item.id}})" type="button" value="Add To Cart">
            </span>
        </div>
        {%endfor%}
        <div id="add-stock" class="stock-item-container" style="align-content: center; justify-content: center; cursor: pointer" onclick="document.location='{% url 'pharma: add_stock' %}'">
            <label style="font-size: 10vh;">+</label>
        </div>
    </div>
</div>
{%endblock%}


{%block script%}
<script>
    function addtocart(id) {
      console.log("item id: " + id);
        var name = $('#' + id + '_name').val();
        var inputAmount = $('#' + id + '_amount');
        var amount = inputAmount.val();
        var max = inputAmount.attr("max");
        
        amount = parseInt(amount);
        max = parseInt(max);
        
        if (amount > max) {
            amount = max;
            inputAmount.val(amount.toString());
        } else if ( amount < 1) {
            amount = 1;
            inputAmount.val(amount.toString());
        }
        
        console.log("item amount: " + amount);
        $.ajax({
            url : "{% url 'pharma: place' %}",
            data : {
                'product_id' : id,
                'product_amount': amount
              },
            type : 'GET',
            success : function(response) {
                location.reload();
            },
            error : function(error) {
                alert("Error: Unable To Add To Cart");
                location.reload();
            }
        });
    }
</script>
{%endblock%}
