{%extends "template.html" %}
{%load static%}

{%block body%}
<div class="shop-container-root">
    <h3 id="shop-list-title">Items in stock</h3><br>
    <div class="shop-list-container">
        {%for item in items%}
        <div id="{{item.id}}" class="stock-item-container">
            <label class="stock-detail-label">Item: </label>
            <input class="stock-detail" id="name" type="text" value="{{item.name}}" readonly><br>
            <label class="stock-detail-label">Price: </label>
            <span class="stock-detail" tabindex="0"><span class="stock-price">&#8377;</span> <input tabindex="-1" class="stock-price" id="age" type="text" value="{{item.price}}" pattern="[0-9]+" readonly></span><br>
            <span>
                <label class="stock-detail-label">Amount:</label>
                <input class="stock-detail" id="amount" type="number" min="1" max="15" value="{{item.quantity}}"><br>
                <input class="stock-detail" id="add-to-cart" onclick="addtocart({{item.id}})" type="button" value="Add To Cart">
                <input class="stock-detail" id="edit" type="button" value="Edit">
            </span>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}


{%block script%}
<script>
    function addtocart(id) {
      console.log(id);
        $.ajax({
            url : '/pharmacy',
            data : {
              'product_id' : id
              },
            type : 'GET',
            success : function(response) {
                alert("Added To Cart");
            },
            error : function(error) {
                alert("Error: Unable To Add To Cart");
            }
        });
    }
</script>
{%endblock%}
