@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* #region Variables */
:root {
    --header-height: 3rem;
    --base-red: hsl(342, 100%, 44%);
    --base-red-hover: hsl(342, 100%, 47%);
    --darker-red: hsl(342, 100%, 41%);
    --dark-blue: hsl(205, 59%, 32%);
    --dark-blue-hover: hsl(205, 59%, 26%);
    --dark-blue-active: hsl(205, 59%, 20%);
    --base-blue: hsl(205, 63%, 46%);
    --body-background: white;
}

/* #endregion Variables */

/* #region Common Styling */

/* #region Titles and Item Specific */
.list-title {
    color: black;
    margin: 2vh 2vw -2vh 2vw;
}

.detail-label {
    cursor: pointer;
    width: 95%;
}

.item-detail {
    color: white;
    background-color: RGBA(0, 0, 0, 0.2);
    border-style: none;
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 0 1vh 0;
    border-radius: 8px;
    transition: all 0.25s;
    font-family: 'Rubik', Verdana, sans-serif;
}

.item-detail[type="checkbox"] {
    align-self: flex-start;
    transform: scale(1.4, 1.4)
}

.item-detail[type="checkbox"]:hover {
    transform: scale(1.5, 1.5);
}

.item-detail > textarea {
    cursor: text;
    resize: vertical;
}

.item-detail:hover {
    cursor: pointer;
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.75);
}

.tooltip {
    cursor: pointer;
}

.tooltip:before {
    content: attr(data-text);
    position: absolute;
    transform: translateY(-5.8125vh) translateX(0vw);
    padding: 1vh;
    min-width: 8vw;
    border-radius: 8px;
    background: black;
    color: white;
    text-align: center;
    opacity: 0%;
    transition: opacity 0.5s;
}

.tooltip:hover:before, .tooltip:hover:after{
    opacity: 100%;
}

.tooltip:after{
    content: "";
    position: absolute;
    transform: translateY(-2.5vh);
    border:10px solid black;
    border-color: black transparent transparent transparent;
    opacity: 0%;
    transition: opacity 0.5s;
}

/* #endregion Titles and Item Specific */

/* #region Containers */

.root-container {
    margin: auto;
    width: 95%;
    height: 100%;
}

.home-container {
    background-color: var(--base-red);
    border-radius: 8px;
    width: 20%;
    padding: 2vh 2vw 2vh 2vw;
    margin: auto;
}

.list-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: grid;
    background-color: var(--base-red);
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    grid-gap: 0px;
    margin: 2vh 1.5vw 2vh 1.5vw;
    transition: all 0.3s;
}

.container:hover {
    transform: scale(1.025, 1.025);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-color: var(--base-red-hover);
}

.full-container {
    flex-direction: column; 
    background-color: var(--base-red);
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    width: 80%;
    grid-gap: 0px;
    transition: all 0.3s;
    box-shadow: 0 0 20px 2px RGBA(0, 0, 0, 0.7);
    z-index: 999;
    transform: inherit;
}
/* #endregion Containers */

/* #region Buttons */
.close-full-btn {
    font-weight: bold;
    width: 2vw;
    height: 2vw;
    background-color: RGBA(0, 0, 0, 0.2);
    align-self: flex-end;
    border-radius: 8px;
    cursor: pointer;
}

.close-full-btn:hover {
    background-color: RGBA(0, 0, 0, 0.5);
}
/* #endregion Buttons */

/* #region Graph */
.bar-graph-container {
    display: grid;
    width: 95%;
    padding: 1vh 1vw 1vh 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.bar-graph-slice {
    display: flex;
    font-size: 2vh;
    height: 4vh;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:RGBA(0, 0, 0, 0.75)
}
/* #endregion Graph */

/* #region Template */

body {
    margin: 0;
    height: 100%;
    color: white;
    font-family: 'Rubik', Verdana, sans-serif;
    background-color: var(--body-background);
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
}

button {
    border-style: none;
    padding: 0px;
    margin: 0px;
    color: white;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#loadLogo {
    display: grid;
    place-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--base-red);
    transition: all 0.5s, background-color 2.5s;
    z-index: 2;
}

#loadLogoImg {
    opacity: 0%;
    height: 30%;
    transition: opacity, 2s;
}

.floating-bar {
    position: sticky;
    top: 0;
    transition: all 1s;
    z-index: 1;
}

.side-bar {
    background-color: #383B3C;
    position: fixed;
    z-index: 6;
    transform: translate(-100%);
    top: 0;
    left: 0;
    right: 80%;
    bottom: 0;
    transition: transform 0.25s ease-out;
}

.side-bar-top {
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    background-color: var(--darker-red);
    font-size: 150%;
    /* padding: 0.25em; */
    align-items: center;
    box-sizing: border-box;
}

.side-bar-top > label {
    margin-left: 1em;
}

.nav-bar { 
    display: flex;
    height: var(--header-height);
    background-color: var(--base-red);
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.main {
    background-color: transparent;
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: var(--header-height) 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-content: center;
    justify-content: center;

    background-color: #1C1C1C;

    padding: 0.5rem 0;

    border-color: var(--base-red);
    border-width: 0.5vh 0px 0px 0px;
    border-style: solid;

    font-size: 1rem;
}

.user-btns {
    display: flex;
    gap: 0.25rem;
    height: var(--header-height);
    flex-direction: row;
}

/* #region Decorative Objects */

/* #region Menu Bar Logo */
#logo-div {
    position: absolute;
    left: 0;
    right: 0;
    display: grid;
    place-items: center;
    z-index: -1;
}

#logo {
    padding-top: 1rem;
    width: 7rem;
    border-radius: 0 0 8px 8px;
    background-color: var(--darker-red);
    outline: solid 4px var(--darker-red);
    transition: padding-top, 0.25s;
    box-shadow: 0 0 0.5em black;
}

#logo:hover {
    padding-top: 2rem;
    cursor: pointer;
    border-top-width: 0;
}
/* #endregion  Menu Bar Logo */

/*#endregion Decorative Objects */

/* #region Interactive Objects */

/* #region Side Bar Button */
.side-bar-btn {
    height: var(--header-height);
    background-color: transparent;
    aspect-ratio: 1/1;
}

.side-bar-btn:hover {
    background-color: var(--darker-red);
}

.side-bar-btn:active {
    filter: brightness(0.9);
}

.user-btn {
    background-color: transparent;
}

.user-btn-img {
    height: var(--header-height);
    border-radius: 0 0 8px 8px;
    background-color: transparent;
    transition: padding-top, 0.25s;
}

.user-btn-img:hover {
    padding-top: 2em;
    background-color: var(--darker-red);
    cursor: pointer;
    box-shadow: 0 0 0.5em black;
}

/* #endregion Side Bar Button */

/* #region Side Bar */
#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    width: inherit;
    background-color: transparent;
    padding: 2vh 0 2vh 1vw;
    transition: background-color 100ms;
}

.nav-item:hover {
    background-color: RGBA(0, 0, 0, 0.25);
}

.nav-link {
    display: block;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}

.nav-link:visited {
    color: white;
}
/*#endregion Side Bar */

/*#endregion Interactive Objects */

/*#endregion Template */

/* #region Form */
#form-window {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 5vh auto 5vh auto;
    background-color: var(--base-blue);
    padding: 0% 0% 2% 0%;
    border-radius: 16px;
}

#form-title {
    background-color: var(--dark-blue);
    width: 100%;
    height: 2em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    border-radius: 16px 16px 0 0;
}

#form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    justify-content: center;
    font-weight: bold;
}

#submit-btn {
    width: 50%;
    background-color: var(--dark-blue);
    border-style: none;
    border-radius: 16px;
    padding: 1em 0;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.5s;
}

#submit-btn:hover, #submit-btn:focus {
    background-color: var(--dark-blue-hover);
    width: 100%;
    cursor: pointer;
}

#submit-btn:active {
    background-color: var(--dark-blue-active);
}

.form-input {
    background-color: var(--dark-blue);
    border-style: none;
    border-radius: 16px;
    width: 50%;
    margin: 1em 0;
    padding: 1em 0.5em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s;
}

.form-input:valid {
    border: 2px red;
}

.form-input:hover, .form-input-dropdown:hover {
    background-color: var(--dark-blue-hover);
    width: 70%;
}

.form-input:focus, .form-input-dropdown:focus {
    background-color: var(--dark-blue-active);
    width: 100%;
}

.form-input-dropdown {
    background-color: var(--dark-blue);
    border-style: none;
    border-radius: 16px;
    width: 50%;
    margin: 1em 0;
    padding: 1em;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.5s;
}

#form-error {
    width: 90%;
    margin: auto;
    padding: 1%;
}

.dropdown-option {
    background-color: var(--base-red);
    color: white;
    font-size: 1.25rem;
    border-radius: 8px;
}

.dropdown-option:hover,
.dropdown-option:focus,
.dropdown-option:active {
    background-color: var(--darker-red);
}

/* #endregion Form */

/* #endregion Common Styling */

/* #region Page Specific */

/* #region Patient List */

.patient-black-out {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    place-items: center;
    overflow: auto;
    background-color: RGBA(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 5;
    transition: all 0.1s;
}

.patient-full-container {
    display: flex;
    margin: 1.5vh auto 1.5vh auto;
}

.save-diagnosis-btn {
    color: white;
    background-color: RGBA(0, 0, 0, 0.2);
    border-style: none;
    border-radius: 8px;
    width: 10%;
    height: 4vh;
    align-self: flex-end;
    font-size: 1.25em;
    cursor: pointer;
    transition: all 0.5s;
}

.save-diagnosis-btn:hover, .save-diagnosis-btn:focus {
    width: 25%;
    transform: scale(1.01, 1.01);
    box-shadow: 0 0 5px RGBA(0, 0, 0, 0.75);
}
/* #endregion Patient List */

/* #region Prescription List */

.prescriptions-list {
    width: inherit;
    background-color: RGBA(0, 0, 0, 0.2);
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
}

.prescription-full-list {
    list-style-type: none;
    width: 70vw;
    margin: 0;
}

.case {
    width: 100%;
    height: 6vh;
    background-color: white;
    color: black;
    margin: 2%;
    border-radius: 4px;
    padding: 4%;
    transition: all 0.25s;
}

.case:hover {
    transform: scale(1.01, 1.01);
    cursor: pointer;
    box-shadow: 0 0 10px RGBA(0, 0, 0, 0.75);
}

.case-full-container {
    margin: 3vh auto 2vh auto;
}

.prescription-full-header {
    flex-direction: column; 
    background-color: var(--base-red);
    border-radius: 8px;
    padding: 2vh 1vw 2vh 1vw;
    width: 80%;
    grid-gap: 0px;
    margin: 3vh auto 2vh auto;
    transition: all 0.3s;
    box-shadow: 0 0 20px 2px #000000;
    z-index: 999;
    transform: inherit;
}

.add-medicine {
    background-color: white;
    color: black;
    margin: 0.5%;
    border-radius: 4px;
    padding: 1%;
    transition: all 0.25s;
}

.add-medicine:hover {
    transform: scale(1.025, 1.025);
    box-shadow: 0 0 10px RGBA(0, 0, 0, 0.75);
}
/* #endregion Prescription List */

/* #region Error */
.error-root {
    color: black;
    margin: auto;
    text-align: center;
}
/* #endregion Error */

/* #region Pharmacy */

.stock-price {
    background-color: RGBA(0, 0, 0, 0);
    border-style: none;
    margin: 0;
    color: white;
    border-radius: 8px;
    transition: all 0.25s;
}

#add-to-cart, #edit {
    cursor: pointer;
}

.default-button {
    background-color: var(--base-red);
    cursor: pointer;
}

#cart-total {
    color: black;
}

/* #region Pharmacy Cart Bill */

.bill-table {
    width: 90%;
    border: none;
    border-collapse: collapse;
    margin: auto;
}

.bill-header, .bill-item, .bill-item-grandtotal {
    color: black;
    border: 3px solid black;
    border-top: none;
    padding: 2vh;
}

.bill-item {
    border-bottom: none;
}

.bill-item-grandtotal {
    border-bottom: none;
    border-top: 3px solid #6C6C6C;
}

#bill-detail-table {
    color: black;
}
/* #endregion Pharmacy Cart Bill */
/* #endregion Pharmacy */

/* #region Attendance Start */
.attendance-table {
    margin: 5vh auto 2vh auto;
    color: white;
    width: 90%;
    border-collapse: collapse;
    font-size: 4vh;
    border-radius: 8px;
    background-color: var(--base-blue);
}

.attendance-table th {
    padding: 1vh 1vw 1vh 1vw;
}

.attendance-table td {
    color: black;
    padding: 1vh 1vw 1vh 1vw;
}

.checkbox-container {
    cursor: pointer;
    height: 100%;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.attendance-custom-checkbox {
    display: block;
    margin: 1vh auto 1vh auto;
    width: 40%;
    aspect-ratio: 1/1;
    background-color: RGBA(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: all, 0.25s;

}

.attendance-custom-checkbox:hover {
    scale: 1.1;
    background-color: RGBA(0, 0, 0, 0.5);
}

.attendance-custom-checkbox.true {
    background: hsl(113, 63%, 46%);
}

.attendance-custom-checkbox.true:hover {
    background: hsl(113, 63%, 40%);
}

#doctor-name-attendance {
    background-color: var(--dark-blue);
}

/* #endregion Attendance */

/* #region Home */

.home-root {
    display: block;
    color: black;
    width: 100%;
    text-align: center;
    height: 100%;
    margin-top: 10vh;
}

/* #endregion Home */

/* #region Accounts */

.accounts-table-heading {
    height: 7vh;
    background-color: #2C82C1;
}

.accounts-table-entry {
    padding: 1vh;
    /* background-color: #215880; */
}

.accounts-table-entry-row {
    background-color: #215880;
    border: 3px solid #194463;
    border-width: 3px 0 0 0;
    height: 7vh
}

.accounts-input {
    width: 90%;
    height: 5vh;
    border-radius: 8px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    font-family: 'Rubik', Verdana, sans-serif;
    font-size: 2vh;
    text-align: center;
}

.income {
    background-color: #41D281;
    border-color: #33a866;
}

.expense {
    background-color: var(--base-red);
    border-color: var(--darker-red);
}

.entries-button {
    background: white;
    color: black;
    border-radius:  8px;
    padding: 1vh 1vw 1vh 1vw;
    height: 6vh;
    width: 7vw;
    margin: 0.5vh 0 0.5vh 0;
    transition: all 0.2s;
    font-size: 100%;
}

.entries-button:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

/* #endregion Accounts */

/* #endregion Page Specific */