{%extends "template.html"%}

{%block body%}
<div class="prescription-container-root">
    <h3 id="prescription-list-title">Prescription {{case.prescription.id}}</h3><br>
    <div class="prescription-container">
        <label class="prescription-patient-label" class="patient-detail-label">Name: </label>
        <input class="prescription-detail" id="{{case.id}}_name" type="text" value="{{case.patient.name}}" readonly><br>
        <div>
            <label class="prescriptions-label">Prescriptions:</label>
            <div class="prescriptions-list" style="flex-direction: column;">
                <div class="prescription-full" onclick="addMedicine()" id="addMedicineBtn">
                    <label onclick="">Add Medicine</label>
                </div>
            </div>
            <button class="prescription-detail" onclick="savePrescription({{case.id}})">Save</button>
        </div>
    </div>
</div>
{%endblock%}

{%block script%}
<script>
    
    function getMedicines() {
        
        var medicineList;
        
        $.ajax({
            async: false,
            url: "/doctor/list_medicines",
            type: 'GET',
            success: function(data){
                medicineList = data;
            }
        });
        
        return medicineList;
    }
                    
    function addMedicine() {
        
        var medicines = getMedicines();
        
        var medicineContainer = $("<div></div>").addClass("prescription-full");
        
        medicineContainer.addClass("medicine-single");
        
        var selector = $("<select></select>").attr("id", "medicine-list");
        
        var quantity = $("<input>").addClass("prescription-detail");
        
        quantity.attr({type:"number", value:"1", step:"1", min:"1", max:"20", onKeyDown:"return false", id:"medicine-quantity"});
        
        medicineContainer.append(selector, quantity);
            
        for(var medicine in medicines) {
            var option = $("<option></option>");
            option.text(medicines[medicine]);
            selector.append(option);
        }
        
        $("#addMedicineBtn").before(medicineContainer);
    }
    
    function savePrescription(caseId) {
        var medicines = getMedicines();
        var selectedItems = [];
        var finalItems = {};
        var index = 0;
        
        var medicineContainers = $(".medicine-single");
        
        
        for (i = 0; i < medicineContainers.length; i++) {
            var medicineContainer = medicineContainers[i];
            var inputs = medicineContainer.childNodes;
            var itemSelector = inputs[0].value;
            var itemQuantity = inputs[1].value;
            var itemId = 0;
            var values = [];            
            for (var medicine in medicines) {
                if (itemSelector === medicines[medicine]) {
                    itemId = medicine;
                }
            }
            
            values = [itemId, itemQuantity];
            
            selectedItems[index] = values;
            index++;
        }
        
        for (var item of selectedItems) {
            if (item[0] in finalItems) {
                finalItems[item[0]] = parseInt(item[1]) + parseInt(finalItems[item[0]]);
                finalItems[item[0]] = finalItems[item[0]].toString();
            } else {
                finalItems[item[0]] = item[1];
            }
        }
        
        console.log(JSON.stringify(finalItems));
        
        $.ajax({
            url: "/doctor/save_prescription",
            type: 'GET',
            data: {
                'case_id': caseId,
                'medicines': JSON.stringify(finalItems)
            },
            success: function() {
                alert("Prescription has been saved");
                location="/doctor";
            },
            errot: function() {
                alert("Could not save prescription");
                location.reload();
            }
        });
    }
    
</script>
{%endblock%}