{%extends "template.html" %}

{%block body %}
{% for case in cases %}
<!--Full Detail Div-->
<div id="{{case.id}}" class="patient-black-out">
    <div class="patient-full-container">
        <button class="close-patient-full-btn" onclick="closePatientFull()">X</button>
        <label class="patient-full-detail-label">Name: </label>
        <input class="patient-detail" id="name" type="text" value="{{case.patient.name}}" onclick="copyDetail('name')" readonly><br>
        <label class="patient-full-detail-label">Age: </label>
        <input class="patient-detail" id="age" type="text" value="{{case.patient.age}}" pattern="[0-9]+" onclick="copyDetail('age')" readonly><br>
        <label class="patient-full-detail-label">Gender: </label>
        <input class="patient-detail" id="gender" type="text" value="{{case.patient.gender | upper}}" size="1" onclick="copyDetail('gender')" readonly><br>
        <label class="patient-full-detail-label">Appointment Date and Time: </label>
        <span>
        <input class="patient-detail" id="date" type="text" value="{{case.appointed_date.date}}" readonly>
        <input class="patient-detail" id="time" type="text" value="{{case.appointed_date.time}}" readonly><br>
        </span>
        <form method="post" id="{{case.id}}" class="doctor-patient-form" style="display: flex; flex-direction: column;">
            {% csrf_token %}
            <label class="patient-full-detail-label">Patient Has Prescription(s):</label>
            <input class="patient-detail" id="has-prescription" name="has-prescription" type="checkbox">
            <label class="patient-full-detail-label">Diagnosis: </label>
            <textarea class="patient-detail" id="diagnosis" cols="16" rows="5" name="diagnosis" placeholder="Your Diagnosis"></textarea>
            <input class="save-diagnosis-btn" type="submit" value="Save">
        </form>
    </div>
</div>
{% endfor %}

<!--Summary Detail Div-->
<div class="patient-container-root">
    <h3 id="patient-list-title">Appointed Patients</h3><br>
    <div class="patient-list-container">
        {% for case in cases %}
        <div class="patient-container" onclick="showPatientFull({{case.id}})">
            <label class="patient-detail-label" class="patient-detail-label" onclick="showPatientFull({{case.id}})">Name: </label>
            <input class="patient-detail" id="name" type="text" value="{{case.patient.name}}" readonly><br>
            <label class="patient-detail-label" onclick="showPatientFull({{case.id}})">Age: </label>
            <input class="patient-detail" id="age" type="text" value="{{case.patient.age}}" pattern="[0-9]+" readonly><br>
            <label class="patient-detail-label" onclick="showPatientFull({{case.id}})">Gender: </label>
            <input class="patient-detail" id="gender" type="text" value="{{case.patient.gender | upper}}" size="1" readonly><br>
            <label class="patient-detail-label" onclick="showPatientFull({{case.id}})">Appointment Date: </label>
            <input class="patient-detail" id="date" type="text" value="{{case.appointed_date.date}}" onclick="showPatientFull({{case.id}})" readonly>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{%block nav%}
<ul id="nav-list">
    <a class="nav-link" href="/staff"><li class="nav-item">Home</li></a>
    <a class="nav-link" href="/doctor"><li class="nav-item">Doctor's Dashboard</li></a>
    <a class="nav-link" href="/doctor/prescriptions"><li class="nav-item">Authorised Prescriptions</li></a>
    <a class="nav-link" href="/doctor/pharma"><li class="nav-item">Pharmacy</li></a>
</ul>
{%endblock%}