{%extends "template.html" %}

{%block body %}

<!--Full Detail Div-->
<div id="patient-black-out">
    <div class="patient-full-container">
        <button class="close-patient-full-btn" onclick="closePatientFull()">X</button>
        <label class="patient-full-detail-label">Name: </label>
        <input class="patient-detail" id="name" type="text" value="Johnny Dough" onclick="copyDetail('name')" readonly><br>
        <label class="patient-full-detail-label">Age: </label>
        <input class="patient-detail" id="age" type="text" value="99" pattern="[0-9]+" onclick="copyDetail('age')" readonly><br>
        <label class="patient-full-detail-label">Gender: </label>
        <input class="patient-detail" id="gender" type="text" value="M" size="1" onclick="copyDetail('gender')" readonly><br>
        <label class="patient-full-detail-label">Appointment Date: </label>
        <input class="patient-detail" id="date" type="text" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" value="13/12/2020" onclick="copyDetail('date')" readonly><br>
        <form id="doctor-patient-form" style="display: flex; flex-direction: column;">
            <label class="patient-full-detail-label">Diagnosis: </label>
            <textarea class="patient-detail" id="diagnosis" cols="16" rows="5" style="cursor: text; resize: vertical;" form="doctor-patient-form" name="diagnosis"></textarea>
            <input class="save-diagnosis-btn" type="submit" value="Save">
        </form>
    </div>
</div>

<!--Summary Detail Div-->
<div class="patient-container-root">
    <h3 id="patient-list-title">Appointed Patients</h3><br>
    <div class="patient-list-container">
        <div id="sampleID" class="patient-container" onclick="showPatientFull('sampleID')">
            <label class="patient-detail-label" class="patient-detail-label" onclick="showPatientFull('sampleID')">Name: </label>
            <input class="patient-detail" id="name" type="text" value="Johnny Dough" readonly><br>
            <label class="patient-detail-label" onclick="showPatientFull('sampleID')">Age: </label>
            <input class="patient-detail" id="age" type="text" value="99" pattern="[0-9]+" readonly><br>
            <label class="patient-detail-label" onclick="showPatientFull('sampleID')">Gender: </label>
            <input class="patient-detail" id="gender" type="text" value="M" size="1" readonly><br>
            <label class="patient-detail-label" onclick="showPatientFull('sampleID')">Appointment Date: </label>
            <input class="patient-detail" id="date" type="text" pattern="^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$" value="13/12/2020" readonly>
        </div>
    </div>
</div>

{%endblock%}

{%block nav %}
<ul id="nav-list">
    <a class="nav-link" href="/"><li class="nav-item">Home</li></a>
    <a class="nav-link" href="#"><li class="nav-item">About</li></a>
    <a class="nav-link" href="#"><li class="nav-item">Booking</li></a>
</ul>
{%endblock%}