{%extends "template.html" %}

{%block body %}
<div id="prescription-black-out">
    <div class="prescription-full-header" tabindex="1">
        <button class="close-prescription-full-btn" tabindex="1" onclick="closePrescriptionFull('prescripID')">X</button>
        <label class="prescription-full-detail-label">Name:</label>
        <input class="prescription-detail" tabindex="-1" id="1_name" type="text" value="Johnny Dough" readonly>
    </div>
    <div id="prescripID" class="prescription-full-container" tabindex="1">
        <label class="prescription-full-detail-label">Prescription #1</label>
        <ul class="prescriptions-full-list">
            <li class="prescription-detail">
                    Some Medicine
            </li>
            <li class="prescription-detail">
                Some Other Medicine
            </li>
        </ul>
    </div>
    <div id="prescripID2" class="prescription-full-container" tabindex="1">
        <label class="prescription-full-detail-label">Prescription #2</label>
        <ul class="prescriptions-full-list">
            <li class="prescription-detail">
                    Some Medicine
            </li>
            <li class="prescription-detail">
                Some Other Medicine
            </li>
        </ul>
    </div>
</div>
    

<div class="prescription-container-root">
    <h3 id="prescription-list-title">Your Treated Patients</h3><br>
    <div class="prescription-list-container">
        <div class="prescription-container">
            <label class="prescription-patient-label" class="patient-detail-label" onclick="showPrescriptionfull('sampleID')">Name: </label>
            <input class="prescription-detail" id="1_name" type="text" value="Johnny Dough" readonly><br>
            <div>
                <label class="prescriptions-label">Prescriptions:</label>
                <div class="prescriptions-list">
                    <div class="prescription" onclick="showPrescriptionFull('prescripID')">
                        <label>#1</label>
                    </div>
                    <div class="prescription" onclick="showPrescriptionFull('prescripID2')">
                        <label>#2</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}