{%extends "template.html"%}

{%block body%}
<div class="prescription-container-root">
    <h3 id="prescription-list-title">Patient Prescriptions</h3><br>
    <div class="prescription-container">
        <label class="patient-detail-label">Patient Name:</label>
        <input class="prescription-detail" id="{{case.id}}_name" type="text" value="Johnny Dough" readonly><br>
        <label class="prescription-detail-label">Case ID:</label>
        <input class="prescription-detail" id="{{case.id}}_id" type="text" value="1" readonly><br>
        <label class="prescription-detail-label">Date:</label>
        <input class="prescription-detail" id="{{case.id}}_id" type="text" value="20-12-2020" readonly><br>
        <label class="prescription-detail-label">Time:</label>
        <input class="prescription-detail" id="{{case.id}}_id" type="text" value="07:01 am" readonly><br>
        <label class="patient-detail-label">Diagnosis:</label>
        <textarea class="prescription-detail" readonly style="resize: vertical">{{case.diagnosis}}</textarea>
        <button class="prescription-detail" onclick="">Edit Prescription</button>
    </div>
</div>
{%endblock%}