{%extends "template.html" %}

{%block body %}
<div id="prescripID" class="prescription-black-out">
    <div class="prescription-full-container" tabindex="1">
        <button class="close-prescription-full-btn" tabindex="1" onclick="closePrescriptionFull('prescripID')">X</button>
        <label class="prescription-full-detail-label">Name:</label>
        <input class="prescription-detail" tabindex="-1" id="name" type="text" value="Johnny Dough" readonly>
    </div>
    <div class="prescription-full-container" tabindex="1">
        <label class="prescription-full-detail-label">Prescription #1</label>
        <ul class="prescriptions-full-list">
            <li class="prescription-detail">
                <div>
                    Some Medicine
                    <table class="prescription-assigned-table">
                        <tr>
                            <th>Days</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thur</th>
                            <th>Fri</th>
                            <th>Sat</th>
                            <th>Sun</th>
                        </tr>
                        <tr>
                            <th>Assigned</th>
                            <td>&#10004;</td>
                            <td>&#10004;</td>
                            <td>&#10004;</td>
                            <td>&#10004;</td>
                            <td>&#10004;</td>
                            <td>&#10008;</td>
                            <td>&#10008;</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </div>
</div>
    

<div class="prescription-container-root">
    <h3 id="prescription-list-title">Your Authorised Prescriptions</h3><br>
    <div class="prescription-list-container">
        <div id="sampleID" class="prescription-container" onclick="showPrescriptionFull('sampleID')">
            <label class="prescription-patient-label" class="patient-detail-label" onclick="showPrescriptionfull('sampleID')">Name: </label>
            <input class="prescription-detail" id="name" type="text" value="Johnny Dough" readonly><br>
            <div>
                <label class="prescriptions-label">Prescriptions:</label>
                <div class="prescriptions-list">
                    <div class="prescription" onclick="showPrescriptionFull('prescripID')">
                        <label>#1</label>
                    </div>
                    <div class="prescription" onclick="showPrescriptionFull('prescripID2')">
                        <label>#2</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}

{%block nav %}
<ul id="nav-list">
    <a class="nav-link" href="/"><li class="nav-item">Home</li></a>
    <a class="nav-link" href="#"><li class="nav-item">About</li></a>
    <a class="nav-link" href="#"><li class="nav-item">Booking</li></a>
</ul>
{%endblock%}